@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nixie+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

// Required
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

// Add a custom color to $theme-colors
$dune: #0f0f0e;
$rock: #6e5349;
$edward: #9ea2a1;
$coffee-pot: #2b1200;
$tangerine: #cf5c00;
$red-orange: #8d1e00;
$raw-sienna: #a84720;
$mule-fawn: #89592e;
$mimosa: #f1d26c;
$chartreuse: #aba600;
$apple: #65b039;
$green: #2f7604;

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Remainder of Bootstrap imports
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

body {
	font-family: "Libre Baskerville" !important;
	line-height: 30px;
	letter-spacing: 0;
}

$heading-font-family: "Nixie One" !important;
$heading-font-weight: 600;
$heading-letter-spacing: 0.2rem;

h1 {
	@extend h1;
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	letter-spacing: $heading-letter-spacing;
}

h2 {
	@extend h2;
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	letter-spacing: $heading-letter-spacing;
}

h3 {
	@extend h3;
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	letter-spacing: $heading-letter-spacing;
}

h4 {
	@extend h4;
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	letter-spacing: $heading-letter-spacing;
}

h5 {
	@extend h5;
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	letter-spacing: $heading-letter-spacing;
}

h6 {
	@extend h6;
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	letter-spacing: $heading-letter-spacing;
}

.blockquote {
	font-size: 2.15rem;
	margin-bottom: 1rem;
}

.blockquote-footer {
	@extend .blockquote-footer;
	font-weight: 600;
}

a {
	@extend a;
	font-weight: 600;
}

a.navbar-brand {
	letter-spacing: 0.1em !important;
}

.carousel-control-next,
.carousel-control-prev {
	width: 100px;
}

.carousel-indicators [data-bs-target] {
	width: 36px;
	height: 10px;
	border-radius: 5px;
	border: 0;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.coffee-product {
	@extend .position-relative, .m-5;
}

.coffee-figure-info {
	@extend .p-4;
	border: 0;
	border-radius: 18px;
}

@include media-breakpoint-up(sm) {
	.coffee-figure-info {
		margin-right: 12em;
	}
}

#ourProducts > h2 {
	color: #{$apple};
	border: 0;
	border-bottom: 2px;
	border-color: #{$apple};
	border-style: dashed;
}

[data-bs-theme="espresso"] {
	--bs-body-color: #{tint-color($raw-sienna, 20%)};
	--bs-body-color-rgb: #{to-rgb($raw-sienna)};
	--bs-body-bg: #{$dune};
	--bs-body-bg-rgb: #{to-rgb($dune)};

	--bs-secondary-color: #{mix($gray-400, $edward, 5%)};
	--bs-secondary-color-rgb: #{to-rgb(mix($gray-400, $edward, 5%))};
	--bs-secondary-bg: #{$rock};
	--bs-secondary-bg-rgb: #{to-rgb($rock)};

	--bs-tertiary-color: #{mix($gray-200, $edward, 50%)};
	--bs-tertiary-color-rgb: #{to-rgb(mix($gray-200, $edward, 50%))};
	--bs-tertiary-bg: #{tint-color($dune, 4%)};
	--bs-tertiary-bg-rgb: #{to-rgb(tint-color($dune, 4%))};

	--bs-link-opacity: 100%;
	--bs-link-decoration: none;
	--bs-link-color: #{$raw-sienna};
	--bs-link-color-rgb: #{to-rgb($raw-sienna), 1};
	--bs-link-hover-color: #{mix($chartreuse, $raw-sienna, 25%)};
	--bs-link-hover-color-rgb: #{to-rgb(mix($chartreuse, $raw-sienna, 25%))};

	--bs-heading-color: #{$tangerine};
	--bs-blockquote-footer-color: #{$rock};

	.card {
		color: #{$tangerine};
		background-color: #{rgba($mule-fawn, 0.15)};
	}

	.card-title {
		color: #{$tangerine};
	}

	.card-text {
		color: #{shade-color($mimosa, 25%)};
	}

	.carousel-control-next-icon {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 320 512'%3e%3c!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3e%3cstyle%3e svg %7b fill%3a %23cf5c00 %7d %3c/style%3e%3cpath d='M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z'/%3e%3c/svg%3e");
	}

	.carousel-control-prev-icon {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 320 512'%3e%3c!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --%3e%3cstyle%3e svg %7b fill%3a %23cf5c00 %7d %3c/style%3e%3cpath d='M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z'/%3e%3c/svg%3e");
	}

	.carousel-indicators [data-bs-target] {
		background-color: #{$tangerine};
	}

	.blockquote-footer {
		color: #{$rock};
	}

	.coffee-figure-info {
		background-color: #{rgba($edward, 0.1)};
	}

	#ourProducts {
		background: rgb(15, 15, 14);
		background: linear-gradient(
			160deg,
			rgba(15, 15, 14, 1) 30%,
			rgba(43, 18, 0, 1) 100%
		);
	}
}

.list-inline-item.active {
	color: #a36f3e;
}

.loginpage {
	background: repeating-linear-gradient(45deg, $mule-fawn, $coffee-pot 20%);
}

.logintext {
	color: $mule-fawn;
	font-weight: bold;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
